html, body {
    padding-left: 10px;
    box-sizing: border-box;
}

h1, h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h1 {
    color: teal;
}

h2 {
    color: darkolivegreen;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 3px;
}

input {
    padding-left: 10px;
    height:2rem ;
    font-size: 1.0rem;
    text-align: left;
    font-family: 'Arial', sans-serif;
    color: gray;
}

ul{
    list-style-type:none;
    padding-left: 0px;
  }

  input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

